<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="file" class="myFile">
    <button>上传文件</button>
</body>
<script>
    document.querySelector('button').onclick = function(){
        let file = document.querySelector('.myFile').files[0];
        console.log(file);
        let form = new FormData();
        form.append('img',file);
        form.append('name','张三');
        let xhr = new XMLHttpRequest();
        xhr.open('post','/upload',true);
        xhr.onload = function(){
            console.log(xhr.responseText);
        };
        xhr.send(form);
    }
</script>
</html>