<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>git请求</h2>
    <button>发送Ajax</button>
</body>
<script>
    let xhr = new XMLHttpRequest();
    xhr.open('get','/get/1',true);
    xhr.onload = function(){
        let res = JSON.parse(xhr.responseText);
        console.log(res);
    }
    xhr.send();
</script>
</html>