doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="css/list.css")
    script(src="js/detail.js" type="text/javascript") 
    title detail
  body
    a.del 删除
    a.delAll 清空列表
    h1 热门歌曲
    ul
      li 歌曲
      li 专辑
      li 时长
  .exchange

